{% extends 'courseinfo/base.html' %}

{% block title %}
    Registration - {{ registration }}
{% endblock %}

{% block content %}
    <h2>{{ registration }}</h2>
    <ul>
        <li>
            <a href="{{ registration.get_update_url }}"> Edit Registration</a></li>
        <a href="{{ registration.get_delete_url }}"> Delete Registration</a></li>
        </li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Section:</th>
                <td>{{ section }}</td>
            </tr>
            <tr>
                <th>Student:</th>
                <td>{{ student }}</td>
            </tr>
        </table>
    </section>
{% endblock %}
